/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar Styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 10px;

  margin-left: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(gray, rgb(56, 52, 52)); /* Thumb color */
  border-radius: 10px; /* Rounded corners for scrollbar thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Thumb color on hover */
}

/* Mobile-specific scrollbar customization */
@media (max-width: 768px) {
  .custom-scrollbar::-webkit-scrollbar {
    width: 3px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    min-height: 20px; /* Smaller minimum height on mobile */
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
